 <!--accidentCard -->
<div class="panel-group" id="accordion" style="margin-top:10px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
              href="#collapseTwo">
                  <div class="row-fluid"  id="accidentCard">
                            <div class="span4 left">
                                事故序号:2
                            </div>
                            <div class="span4 left" style="margin-left:80px;">
                                <p>
                                    <em>2014年1月1日,在XXX发生一起xxx事故.<br>
                                    </em>
                                </p>
                            </div>
                            <div style="clear:both;"></div>
                  </div>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
              <p>time:</p>
              <p>location:</p>
              <p>
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson<br>
            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher<br>
            vice lomo.<br>
              </p>

          </div>
        </div>
      </div>
</div>
<!--ENDaccidentCard -->