<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Gdesign</title>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/jtable/themes/metro/blue/jtable.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="/static/highcharts/js/highcharts-more.js"></script>
<script type="text/javascript" src="/static/js/plugins/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="/static/js/plugins/spinner/jquery.mousewheel.js"></script>

<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/charts/jquery.flot.js"></script>
<script type="text/javascript" src="/static/js/plugins/charts/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="/static/js/plugins/charts/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/static/js/plugins/charts/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/static/js/plugins/charts/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/forms/uniform.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.cleditor.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/autogrowtextarea.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.dualListBox.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/chosen.jquery.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/wizard/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/plugins/wizard/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/wizard/jquery.form.wizard.js"></script>

<script type="text/javascript" src="/static/js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="/static/js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="/static/js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="/static/js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="/static/js/plugins/tables/datatable.js"></script>
<script type="text/javascript" src="/static/js/plugins/tables/tablesort.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/tables/resizable.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/ui/jquery.tipsy.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.progress.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.timeentry.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.breadcrumbs.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.sourcerer.js"></script>

<script type="text/javascript" src="/static/js/plugins/calendar.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/elfinder.min.js"></script>

<script type="text/javascript" src="/static/js/custom.js"></script>

<script type="text/javascript" src="/static/js/charts/chart.js"></script>
</head>
<body>
<!-- Left side content -->
{% block left_nav%}
<div id="leftSide">
    
    <div class="sidebarSep"></div>
    

    <ul id="menu" class="nav">
        <li class="typo"><a href="#" title="" class="exp"><span>数据采集</span><strong>2</strong>
        </a>
            <ul class="sub">
                <li><a href="/station/accident_list/" title="">手动添加</a></li>
                <li><a href="http://zk1.tmlsystem.com:9091/index/" title="">自动采集</a></li>
            </ul>
        </li>
        <li class="forms"><a href="#" title="" class="exp"><span>统计分析</span><strong>4</strong></a>
            <ul class="sub">
                <li><a href="/accidentStatistics/" title="">时间分析</a></li>
                <li><a href="/accidentStatistics/locationStatistics/" title="">位置分析</a></li>
                <li><a href="/accidentStatistics/typeStatistics/" title="">类型分析</a></li>
                <li class="last"><a href="/accidentStatistics/lossStatistics/" title="">损失分析</a></li>
            </ul>
        </li>
        <li class="tables"><a href="#" title="" class="exp"><span>模拟分析</span><strong>2</strong></a>
            <ul class="sub">
                <li><a href="/simulationAnalysis/" title="">常规模拟</a></li>
                <li><a href="/definedSimulation/" title="">自定义模拟</a></li>
            </ul>
        </li>
        <li class="files"><a href="#" title="" class="exp"><span>站点管理</span><strong>1</strong></a>
            <ul class="sub">
                <li><a href="/add_station/" title="">添加气站</a></li>
            </ul>
        </li>
    </ul>

</div>
{% endblock %}

<!-- {% block right_nav %} -->
<!-- Right side -->
<div id="rightSide" style="padding-bottom:100px;">

    {% block top_nav_block %}
    <div class="topNav" style="padding-left: 4px;">
         <div class="wrapper">
            <div class="welcome"><a href="#" title=""><img src="/static/images/userPic.png" alt="" /></a><span>Hello,NYF!</span></div>
            <div class="userNav">
                <ul>
                    <li><a href="#" title=""><img src="/static/images/icons/topnav/settings.png" alt="" /><span>Settings</span></a></li>
                    <li><a href="#" title=""><img src="/static/images/icons/topnav/logout.png" alt="" /><span>Logout</span></a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        {% endblock %}

        {% block item_list%}
        {% endblock %}
 
    </div>


    <div style="margin-top:60px;"></div>

    
    <div class="wrapper">

        {% block content_block %}
        <!-- Dynamic table -->
        <div class="widget">
            <div class="title"><img src="/static/images/icons/dark/full2.png" alt="" class="titleIcon" /><h6>全国所有加气站的事故列表</h6></div>                          
            <table cellpadding="0" cellspacing="0" border="0" class="display dTable">
            <thead>
            <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Location</th>
            <th>Loss</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>  
        </div>
        {% endblock %}
    
    </div>
    
    {% block footer_block%}
    <div id="footer">
        <div class="wrapper">毕业设计 2015 倪有发 <a href="http://www.onekoko.com:8000/demosite/index/">我的博客</a></div>
    </div>
    {% endblock %}

</div>
<!-- {% endblock %}  -->

<div class="clear"></div>
{% block script_block %}
{% endblock %}
{% block style_block %}
{% endblock %}
</body>
</html>