{% extends "gdesign_frame.html" %}   
{% block script_block %}
<script>
    $('#locationStatistics').highcharts({
        chart: {
            type: 'column',
            margin: [ 50, 50, 100, 80]
        },
        title: {
            text: '事故发生位置图'
        },
         credits: {
                 enabled: false
       },
        xAxis: {
            categories: [
                '高压管道',
                '车用气瓶',
                '售气系统',
                'CNG压缩系统',
                '储气系统',
            ],
            labels: {
                //rotation: 45,
                align: 'center',
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '百分数%',
                rotation:90
            },
             lineWidth:1,
            lineColor:'#C0D0E0',
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '事故发生位置百分数: <b>{point.y:.1f} %</b>',
        },
        series: [{
            name: '事故发生位置图',
            data: [4, 6,56, 12, 22,],
            dataLabels: {
                enabled: true,
                rotation: 0,
                color: '#FFFFFF',
                align: 'center',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                }
            }
        }]
    });



    $('#locationStatistics1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '事故发生位置比较 '
        },
         credits: {
                 enabled: false
       },
        xAxis: {
            categories: ['2009', '2010', '2011', '2012', '2013']
        },
        yAxis: {
            min: 0,
            title: {
                text: '次数'
            },
             lineWidth:1,
            lineColor:'#C0D0E0',
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -70,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.x +'</b><br>'+
                    this.series.name +': '+ this.y +'<br>'+
                    'Total: '+ this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: [{
            name: '高压管道',
            data: [5, 3, 4, 7, 2]
        }, {
            name: '车用气瓶',
            data: [2, 2, 3, 2, 1]
        }, {
            name: 'CNG压缩系统',
            data: [3, 4, 4, 2, 5]
        }, {
            name: '储气系统',
            data: [3, 1, 2, 3, 4]
        }, {
            name: '售气系统',
            data: [2, 1, 2, 2, 3]
        }]
    }); 
      </script>
{% endblock %}
{% block content_block %}
                    <div class="left" style="margin-left:40px;margin-bottom:40px;">
                         <div class="span8" id="locationStatistics">
                         </div>
                         <div class="span8" id="locationStatistics1">
                         </div>
                    </div>
{% endblock %}

