<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temp</title>

    <!-- STATICFILE -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- EndSTATICFILE -->

  </head>
  <body>
      <div class="span8">
         <div class="tabbable" id="tabs-376012">
            <ul class="nav nav-tabs">
                <li class="">
                <pre style="background-color:#ffffff;color:#000000;font-family:'AR PL UKai CN';font-size:12pt;"><a contenteditable="true" data-toggle="tab" href="#panel-44810">天然气管道射流泄漏扩散</a></pre>
                </li>
                <li>
                <pre style="background-color:#ffffff;color:#000000;font-family:'AR PL UKai CN';font-size:12pt;"><a contenteditable="true" data-toggle="tab" href="#panel-731687">瞬时绝热扩散</a></pre>
                </li>
                <li class="active">
                <pre style="background-color:#ffffff;color:#000000;font-family:'AR PL UKai CN';font-size:12pt;"><a contenteditable="true" data-toggle="tab" href="#panel-731688">火灾爆炸</a></pre>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" contenteditable="true" id="panel-44810">
                <p>第一部分内容.</p>
                </div>

                <div class="tab-pane" contenteditable="true" id="panel-731687">
                <p>第二部分内容.</p>
                </div>

                <div class="tab-pane active" contenteditable="true" id="panel-731688">
                <p>第三部分内容.</p>
                </div>
            </div>
         </div>
      </div>
                 
  </body>
</html>


