<!-- 页面继承demosite frame页面 -->
{% extends "demosite/demosite_frame.html" %}
	
{% block myblog_block %}
	<li role="presentation" ><a href="/demosite/index">博客</a></li>
{% endblock %}			
	
{% block content_block %}
	<div  style="margin-top:60px;padding:10px 150px;">
                <h2 style="color: rgb(58, 71, 205);">博客链接:</h2>
			<label style="color: rgb(58, 71, 205);font-weight:100;">标题:</label><input id='blog_name' type='text' style="border-radius: 6px;"/>
			<label style="color: rgb(58, 71, 205);font-weight:100;margin-left:30px;">网址:</label><input id='blog_url' type='text' style="border-radius: 6px;"/>
			<input type="button" onclick="insertBlogURL()" value="提交" class="my_btn"/>
		<div  id="link_list" style="margin-top:20px;">
                           <div class="row"> <!--  style="padding: 40px;border-style: solid;border-radius: 6px;border-color: rgb(0, 168, 255);"> -->
				{% for link_object in link_list %}
                                   <div class="col-sm-3 col-md-3 col-lg-12 span">
                                      <div class="item">
				        <a href="#">{{link_object.title}}</a>
                                        <p>{{link_object.time}}</p>
                                      </div>
                                   </div>
				{% endfor %}
                           </div>
                           <div style="margin-top:30px;"></div>
		</div>
	<div>
{% endblock %}



