<div class="panel" style="background-color:rgb(47, 56, 65);color:aliceblue;text-align:center;border-radius:initial;">
  <div class="panel-heading">
    <h4>{{ current_portal.label }}</h4>
  </div>
  <div id="sidebar" class="list-group">
    {% for page_group in current_portal.page_groups %}
      {% if page_group.label == None %}
        {% for page in page_group %}
          <div id="{{ page.uid }}" >
            <a href="{{ page.url }}" target="_top" data-parent="#sidebar" class="list-group-item {% if page.uid == current_page.uid %} active {% endif %}" style="background-color:rgb(47, 56, 65);color:aliceblue;text-align:center;">
              <i class="glyphicon {{page.icon}}"></i>
              {{ page.label }}
              {% if page.desc|length > 0 %}
                <p class="list-group-item-text">{{ page.desc }}</p>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      {% elif page_group.pages|length > 0 %}
        <a href="#{{ page_group.uid }}" data-parent="#sidebar" class="list-subgroup" style="background-color:rgb(51, 62, 73);border-color:rgb(47, 56, 65);color:aliceblue;text-align:center;">
           <b>{{ page_group.label }}</b>
          <span class="badge bg_danger">{{ page_group.pages|length }}</span>
        </a>                    
        <div id="{{ page_group.uid }}">
          {% for page in page_group %}
            <a href="{{ page.url }}" target="_top" class="list-group-item {% if page.uid == current_page.uid %} active {% endif %}" style="background-color:rgb(47, 56, 65);color:aliceblue;text-align:center;border-color:rgb(47, 56, 65);">                        
              {{ page.label}}
              {% if page.desc|length > 0 %}
                <p class="list-group-item-text">{{ page.desc }}</p>
              {% endif %}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>            
